name: Tests

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php-version: [ 8.4, 8.5 ]
                dependency-version: [ prefer-stable ]
                include:
                    - { php-version: 8.4, dependency-version: prefer-lowest }

        name: PHP ${{ matrix.php-version }} - ${{ matrix.dependency-version }}

        steps:
            -   uses: actions/checkout@v4
            -   name: Install PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    coverage: none
                    extensions: dom
            -   name: Install dependencies
                run: composer update --no-interaction --prefer-dist --no-progress --no-suggest --${{ matrix.dependency-version}}
            -   name: Run test suite
                run: vendor/bin/phpunit
